<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.SuperAcoustics"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/cutmypic"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cutmypic"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.example.SuperAcoustics.SplashActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".FileName"
            android:screenOrientation="portrait"
            android:parentActivityName=".WelcomeActivity">
        </activity>
        <activity
            android:name="com.example.SuperAcoustics.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:parentActivityName=".FileName">

        </activity>

        <activity
            android:name="com.example.SuperAcoustics.measuredBA"
            android:screenOrientation="portrait"
            android:parentActivityName="com.example.SuperAcoustics.MainActivity">

        </activity>

        <activity
            android:name="com.example.SuperAcoustics.LevelMeterActivity"
            android:screenOrientation="portrait"
            android:parentActivityName="com.example.SuperAcoustics.MainActivity">

        </activity>

        <activity
            android:name="com.example.SuperAcoustics.Settings"
            android:screenOrientation="portrait"
            android:parentActivityName="com.example.SuperAcoustics.measuredBA">
        </activity>
        <activity
            android:name="com.example.SuperAcoustics.MeasureSPL"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:parentActivityName="com.example.SuperAcoustics.MainActivity">
        </activity>
        <activity
            android:name="com.example.SuperAcoustics.ViewResult"
            android:screenOrientation="portrait"
            android:parentActivityName="com.example.SuperAcoustics.MainActivity">
        </activity>
        <activity
            android:name="com.example.SuperAcoustics.Plot"
            android:screenOrientation="landscape"
            android:parentActivityName="com.example.SuperAcoustics.MeasureSPL">
        </activity>
    </application>

</manifest>


